.row:hover {
  background-color: var(--dark-gray);
}
.selected {
  background-color: var(--primary-color);
}
.body {
  padding: 0 1rem;
  justify-content: center;
}
.header {
  padding: 0 calc(1rem + 24px);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 30px;
  padding: auto;
}
.row {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.rowItem {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.rowIcon {
  width: fit-content;
  height: fit-content;
}
