.container {
  border-radius: 12px;
  height: 100%;
  width: 100%;
  background-color: var(--light-gray);
  position: absolute;
}

.header {
  flex-direction: row;
  height: 40px;
}
.leftIcons {
  flex: 1;
  padding-left: 1rem;
  justify-content: center;
  align-items: flex-start;
}
.title {
  flex: 2;
  justify-content: center;
  align-items: center;
}
.rightIcons {
  flex: 1;
  padding-right: 1rem;
  gap: 12px;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.divider {
  height: 1px;
  background-color: var(--dark-gray);
}
.content {
  flex: 1;
}
.footer {
  flex-direction: row;
  height: 40px;
}

@media only screen and (min-width: 768px) {
  .resizable {
    overflow: auto;
    resize: both;
  }
  .container {
    height: 700px;
    width: 700px;
    max-width: 100vw;
    max-height: 100vh;
  }
}
