.container {
  align-items: center;
  justify-content: space-between;
}
.avatarContainer {
  background-color: var(--light-gray);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.avatarImage {
  width: 150px;
  height: 150px;
}
.circle {
  display: flex;
  background-color: var(--light-gray);
  border-radius: 50%;
  border: 1px solid var(--dark-gray);
  justify-content: center;
  align-items: center;
}
.credentialsError {
  color: var(--error-color);
}
