.container {
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
.loginForm {
  align-items: center;
  justify-content: space-around;
  height: 50vh;
}
.avatarContainer {
  background-color: var(--light-gray);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.avatarImage {
  width: 150px;
  height: 150px;
}
.circle {
  display: flex;
  background-color: var(--light-gray);
  border-radius: 50%;
  border: 1px solid var(--dark-gray);
  justify-content: center;
  align-items: center;
}
.credentialsError {
  color: var(--error-color);
}
.loginSuccessful {
  background-color: var(--success-color);
  animation: rotateReveal 1s linear;
}
.loginFailed {
  border-color: var(--error-color);
}

@keyframes rotateReveal {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
