.divider {
  height: 1px;
  width: 100%;
  background-color: var(--dark-gray);
}

.notSelectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
